<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "DevPath App", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%if user_signed_in?%>
        <li class="nav-item active">
          <%= link_to 'My Posts', posts_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Feed', feeds_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Feed Exports', user_feed_exports_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Followed', followed_users_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Edit my profile', edit_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Logout", destroy_user_session_path, class: "nav-link", method: :delete  %>
        </li>
        <%if current_user.admin%>
          <li class="nav-item active">
            <%= link_to "Admin", admin_users_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Create New User", new_admin_user_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Import New Users", new_admin_import_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "List of imports", admin_imports_path, class: "nav-link" %>
          </li>
        <%end%>
      <%end%>
    </ul>
  </div>
</nav>
